<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turingoal.laundry">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.turingoal.common.app.TgApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--欢迎-->
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:theme="@style/AppTheme.appStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".ui.activity.LoginActivity" />
        <!--主页面-->
        <activity android:name=".ui.activity.MainActivity" />
        <!--关于我们-->
        <activity android:name=".ui.activity.AboutActivity"/>
        <!--设备配置-->
        <activity android:name=".ui.activity.ElectricityActivity"/>
        <!--蓝牙列表-->
        <activity android:name=".ui.activity.BluetoothActivity"/>
        <!--扫描-->
        <activity android:name=".ui.activity.RfidActivity"/>
        <!--流水单-->
        <activity android:name=".ui.activity.RecordActivity"/>
    </application>

</manifest>